RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://cdn.sibelecosta.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cdn.sibelecosta.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://euaprendosim.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://euaprendosim.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://euaprendosim.winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://euaprendosim.winserv.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://facebook.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://facebook.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sibelecosta.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sibelecosta.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sibelecosta.winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sibelecosta.winserv.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://winserv.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cdn.sibelecosta.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cdn.sibelecosta.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.euaprendosim.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.euaprendosim.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.euaprendosim.winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.euaprendosim.winserv.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sibelecosta.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sibelecosta.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sibelecosta.winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sibelecosta.winserv.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.winserv.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cdn.sibelecosta.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cdn.sibelecosta.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://euaprendosim.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://euaprendosim.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://euaprendosim.winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://euaprendosim.winserv.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://facebook.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://facebook.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sibelecosta.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sibelecosta.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sibelecosta.winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sibelecosta.winserv.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://winserv.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cdn.sibelecosta.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cdn.sibelecosta.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.euaprendosim.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.euaprendosim.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.euaprendosim.winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.euaprendosim.winserv.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sibelecosta.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sibelecosta.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sibelecosta.winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sibelecosta.winserv.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.winserv.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.winserv.com.br$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
